/* Contenedor general */
.contenedor-personajes {
  padding: 2rem;
  text-align: center;
  background: #cef0db;
  min-height: 100vh;
}

.volver {
  margin: 2.5rem 0 1.5rem;
}

/* Botón genérico */
.boton {
  display: inline-block;
  padding: 0.8rem 1.5rem;
  background: #b8a25b;
  color: white;
  border-radius: 10px;
  text-decoration: none;
  transition: background 0.3s ease;
  font-weight: 500;
}

.boton:hover {
  background: #b8a25b;
}

/* Título */
h2 {
  text-align: center;
  margin-bottom: 1rem;
  color: #000000;
}

/* Grid de personajes */
.personajes-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
  margin-bottom: 0.5rem;
}

/* Tarjeta de personaje */
.personaje-card {
  background-color: #f9fafb;
  border: 2px solid #ddd;
  border-radius: 12px;
  padding: 1rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s, border-color 0.2s;
}

.personaje-card:hover {
  transform: scale(1.03);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

/* Clase dinámica para personaje seleccionado */
.personaje-card.seleccionado {
  box-shadow: 0 4px 12px rgba(0, 119, 182, 0.4);
  background-color: #f0f8ff;
}

.personaje-card h3 {
  margin-top: 0;
  color: #000000;
}

/* Botón dentro de la carta */
button {
  background-color: #e6c24d;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: background-color 0.2s;
}

button:hover {
  background-color: #e6c24d;
}

/* Modal */
.modal-fondo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-contenido {
  background: white;
  padding: 2rem;
  border-radius: 10px;
  width: 90%;
  max-width: 600px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.modal-contenido h3 {
  color: #000000;
  margin-top: 0;
}

.descripcion {
  margin-top: 1rem;
  line-height: 1.5;
  color: #333;
}
