<div class="layout">
  <header class="menu">
    <h1>Bienvenido al MARAVILLOSO mundo de The Legend of Zelda - by Ana Silvestre</h1>
    <nav>
      <a routerLink="../" routerLinkActive="activo"> Home </a>
      <a routerLink="../silvestre" routerLinkActive="activo">Inicio</a>
      <a routerLink="juegos" routerLinkActive="activo">Juegos</a>
      <a routerLink="personajes" routerLinkActive="activo">Personajes</a>
      <a routerLink="lugares" routerLinkActive="activo">Lugares</a>
    </nav>
  </header>

  <main class="contenido">
    <router-outlet></router-outlet>
  </main>
</div>

