<h1>
    El mundo de Teyvat está lleno de naciones que recorrer a tu antojo y ritmo.
</h1>

<ul>
    <li>
        <h2>
            Mondstadt: La nación del viento y la libertad, inspirada en Alemania.
        </h2>
        <h3>Arconte: Barbatos, el Arconte Anemo</h3>
        <img src="pavon/Mondstadt.png" alt="Mondstadt" width="500px" height="300px">
        <p>
            Mondstadt tiene una arquitectura que recuerda a la época medieval, con casas de piedra, madera y techos desiguales de tejas. Hay molinos de viento por doquier, calles adoquinadas, una plaza enfrente de la catedral, tabernas rústicas y un pueblo cercano conocido como Aguaclara, hogar de los cazadores. También está el viñedo del Amanecer, donde se produce el vino local, el mayor producto de exportación de la nación.
        </p>
    </li>
    <li>
        <h2>
            Liyue: La nación de la roca y los contratos, inspirada en China.
        </h2>
        <h3>Arconte: Morax, el Arconte Geo</h3>
        <img src="pavon/Liyue.png" alt="Liyue" width="500px" height="300px">
        <p>
            Liyue presenta una arquitectura china tradicionañ, con casas de techos curvos y decoraciones típicas de festivales chinos. La ciudad está llena de comercio, ya que hay mercados y negocios por doquier. Lo que más destaca es la cámara de Jade, un edificio enrome que sobrevuela la ciudad y funciona como la cámara privada del gobierno de Liyue. El puerto es el punto más importante para el comercio. Además de la ciudad, Liyue cuenta con montañas cuyas cimas alcanzan las nubes, lugares místicos donde los Adeptus residen y la Sima, un lugar subterráneo lleno de minerales y peligros en la oscuridad.
        </p>
    </li>
    <li>
        <h2>
            Inazuma: La nación del rayo y la eternidad, inspirada en Japón.
        </h2>
        <h3>Arconte: Baal, la Arconte Electro</h3>
        <img src="pavon/Inazuma.png" alt="Inazuma" width="500px" height="300px">
        <p>
            Inazuma tiene una arquitectura tradicional japonesa, con casas de madera, templos sintoístas y jardines zen. La isla principal, Narukami, es donde reside la capital, donde está el castillo de la Shogun. También está el Gran Santuario Narukami, donde el cerezo sagrado florece todo el año. La segunda isla principal, Watatsumi, es hogar de la tribu Sangonomiya y hogar del Santuario Sangonomiya. Su arquitectura es más natural, con estructuras afines a la vida marina. También posee acceso a Enkanomiya, una región subacuática con ruinas antiguas y un ecosistema único. 
        </p>
    </li>
    <li>
        <h2>
            Sumeru: La nación del viento y la libertad, inspirada en alemania.
        </h2>
        <h3>Arconte: Barbatos, el Arconte Anemo</h3>
        <img src="pavon/Mondstadt.png" alt="Mondstadt" width="500px" height="300px">
        <p>
            Mondstadt tiene una arquitectura que recuerda a la época medieval, con casas de piedra, madera y techos desiguales de tejas. Hay molinos de viento por doquier, calles adoquinadas, una plaza enfrente de la catedral, tabernas rústicas y un pueblo cercano conocido como Aguaclara, hogar de los cazadores. También está el viñedo del Amanecer, donde se produce el vino local, el mayor producto de exportación de la nación.
        </p>
    </li>
    <li>
        <h2>
            Fontaine: La nación del viento y la libertad, inspirada en alemania.
        </h2>
        <h3>Arconte: Barbatos, el Arconte Anemo</h3>
        <img src="pavon/Mondstadt.png" alt="Mondstadt" width="500px" height="300px">
        <p>
            Mondstadt tiene una arquitectura que recuerda a la época medieval, con casas de piedra, madera y techos desiguales de tejas. Hay molinos de viento por doquier, calles adoquinadas, una plaza enfrente de la catedral, tabernas rústicas y un pueblo cercano conocido como Aguaclara, hogar de los cazadores. También está el viñedo del Amanecer, donde se produce el vino local, el mayor producto de exportación de la nación.
        </p>
    </li>
    <li>
        <h2>
            Natlan: La nación del viento y la libertad, inspirada en alemania.
        </h2>
        <h3>Arconte: Barbatos, el Arconte Anemo</h3>
        <img src="pavon/Mondstadt.png" alt="Mondstadt" width="500px" height="300px">
        <p>
            Mondstadt tiene una arquitectura que recuerda a la época medieval, con casas de piedra, madera y techos desiguales de tejas. Hay molinos de viento por doquier, calles adoquinadas, una plaza enfrente de la catedral, tabernas rústicas y un pueblo cercano conocido como Aguaclara, hogar de los cazadores. También está el viñedo del Amanecer, donde se produce el vino local, el mayor producto de exportación de la nación.
        </p>
    </li>
    <li>
        <h2>
            Nod Krai: La nación del viento y la libertad, inspirada en alemania.
        </h2>
        <h3>Arconte: Barbatos, el Arconte Anemo</h3>
        <img src="pavon/Mondstadt.png" alt="Mondstadt" width="500px" height="300px">
        <p>
            Mondstadt tiene una arquitectura que recuerda a la época medieval, con casas de piedra, madera y techos desiguales de tejas. Hay molinos de viento por doquier, calles adoquinadas, una plaza enfrente de la catedral, tabernas rústicas y un pueblo cercano conocido como Aguaclara, hogar de los cazadores. También está el viñedo del Amanecer, donde se produce el vino local, el mayor producto de exportación de la nación.
        </p>
    </li>
</ul>
