<link rel="stylesheet" href="./reynaComponent.css" />
<header>
  <h1>Entrega Reyna</h1>
  <app-navbar-unrouted></app-navbar-unrouted>
</header>
<main>
  <h2>Catálogo de productos</h2>
  <div class="busqueda mb-3">
    <input
      type="text"
      class="form-control"
      placeholder="Buscar productos..."
      [(ngModel)]="busqueda"
    />
  </div>
 <div class="row g-3">
  @for (product of filtrarProducts; track product.id) {
    <div class="col-md-3">
      <app-product-card-unrouted [product]="product"></app-product-card-unrouted>
    </div>
  }
</div>
</main>
<footer></footer>
