<h2>Entrega Contreras</h2>

<!-- IR AL COMPARADOR -->
<button (click)="irAComparador()">Comparador</button>
<br><br>

<button (click)="campeon_Random()">Personaje aleatorio</button>

<br><br>
<div>
  <button (click)="buscador = !buscador">Buscar personaje:</button>
  
  <!-- Coger texto escrito usuario -->
  @if (buscador) {
    <div style="margin-top: 10px;">
      <input type="text" placeholder="Ej: Ahri" 
        #input_Usuario
        style="padding: 5px; margin-right: 10px;">
      <button (click)="buscar_Campeon(input_Usuario.value)">Buscar</button>
    </div>
  }
</div>

  <!-- Total personajes -->
<p>Total de personajes cargados: {{ posts.length }}</p>

@if (campeon) {
  <div style="border: 1px solid #000000; padding: 20px; margin: 20px 0;">
    <div style="display: flex; align-items: center; margin-bottom: 15px;">
      <img [src]="campeon.icon" 
           [alt]="campeon.name" 
           style="width: 128px; height: 128px; border-radius: 8px; margin-right: 15px;">
      <div>
        <h3 style="margin: 0;">{{ campeon.name }}</h3>
        <p style="margin: 5px 0; color: #000000; font-style: italic;">{{ campeon.title }}</p>
      </div>
    </div>
    <p><strong>ID:</strong> {{ campeon.id }}</p>
    <p><strong>Tipo de daño:</strong> {{ campeon.adaptiveType }}</p>
    <p><strong>Rango ataque:</strong> {{ campeon.attackType }}</p>
    <p><strong>Recurso:</strong> {{ campeon.resource }}</p>
    <p><strong>Lineas:</strong> {{ campeon.positions }}</p>
    <p><strong>Roles:</strong> {{ campeon.roles }}</p>
    <p><strong>Faccion:</strong> {{ campeon.faction }}</p>
    <p><strong>Vida:</strong> {{ campeon.stats?.health?.flat }}</p>
    <p><strong>Armadura:</strong> {{ campeon.stats?.armor?.flat }}</p>
    <p><strong>Daño:</strong> {{ campeon.stats?.attackDamage?.flat }}</p>
    <p><strong>Velocidad:</strong> {{ campeon.stats?.movespeed?.flat }}</p>
    <p><strong>Lore:</strong> 
      <br>
      <span #loreText>{{ campeon.lore.substring(0, 150) }}...</span>
      <button #btnmas (click)="loreText.textContent = campeon.lore; btnmas.style.display = 'none'" 
              style="margin-left: 10px; color: #007acc; background: none; border: none; cursor: pointer; text-decoration: underline;">
        Ver más
      </button>
    </p>
  </div>
}