<app-menu-pavon></app-menu-pavon>
<h1>El mundo de Teyvat está lleno de naciones que recorrer a tu antojo y ritmo.</h1>

<ul>
  <li>
    <h2>Mondstadt: La nación del viento y la libertad, inspirada en Alemania.</h2>
    <h3>Arconte: Barbatos, el Arconte Anemo</h3>
    <img src="pavon/Mondstadt.png" alt="Mondstadt" width="500px" height="300px" />
    <p>
      Mondstadt tiene una arquitectura que recuerda a la época medieval, con casas de piedra, madera
      y techos desiguales de tejas. Hay molinos de viento por doquier, calles adoquinadas, una plaza
      enfrente de la catedral, tabernas rústicas y un pueblo cercano conocido como Aguaclara, hogar
      de los cazadores. También está el viñedo del Amanecer, donde se produce el vino local, el
      mayor producto de exportación de la nación.
    </p>
  </li>
  <li>
    <h2>Liyue: La nación de la roca y los contratos, inspirada en China.</h2>
    <h3>Arconte: Morax, el Arconte Geo</h3>
    <img src="pavon/Liyue.png" alt="Liyue" width="500px" height="300px" />
    <p>
      Liyue presenta una arquitectura china tradicional, con casas de techos curvos y decoraciones
      típicas de festivales chinos. La ciudad está llena de comercio, ya que hay mercados y negocios
      por doquier. Lo que más destaca es la cámara de Jade, un edificio enrome que sobrevuela la
      ciudad y funciona como la cámara privada del gobierno de Liyue. El puerto es el punto más
      importante para el comercio. Además de la ciudad, Liyue cuenta con montañas cuyas cimas
      alcanzan las nubes, lugares místicos donde los Adeptus residen y la Sima, un lugar subterráneo
      lleno de minerales y peligros en la oscuridad.
    </p>
  </li>
  <li>
    <h2>Inazuma: La nación del rayo y la eternidad, inspirada en Japón.</h2>
    <h3>Arconte: Baal, la Arconte Electro</h3>
    <img src="pavon/Inazuma.jpg" alt="Inazuma" width="500px" height="300px" />
    <p>
      Inazuma tiene una arquitectura tradicional japonesa, con casas de madera, templos sintoístas y
      jardines zen. La isla principal, Narukami, es donde reside la capital, donde está el castillo
      de la Shogun. También está el Gran Santuario Narukami, donde el cerezo sagrado florece todo el
      año. La segunda isla principal, Watatsumi, es hogar de la tribu Sangonomiya y hogar del
      Santuario Sangonomiya. Su arquitectura es más natural, con estructuras afines a la vida
      marina. También posee acceso a Enkanomiya, una región subacuática con ruinas antiguas y un
      ecosistema único donde la luz y la oscuridad coexisten y se alternan.
    </p>
  </li>
  <li>
    <h2>Sumeru: La nación de la naturaleza y el conocimiento, inspirada en India.</h2>
    <h3>Arconte: Buer, la Arconte Dendro</h3>
    <img src="pavon/Sumeru.jpg" alt="Sumeru" width="500px" height="300px" />
    <p>
      Sumeru tiene una arquitectura reminiscente de la India y el Medio Oriente. Se divide en dos secciones
      principales, el bosque lluvioso y el desierto. La ciudad principal, Sumeru, se situa en el bosque
      y se encuentra llena de vegetación, siendo el Gran Árbol de la Sabiduría el pilar principal de la ciudad
      y la academia. En el desierto, se encuentra la villa de Aaru, hogar de comerciantes y mercenarios. Más allá se
      encuentran ruinas antiguas, creadas en nombre del Rey Deshret.
    </p>
  </li>
  <li>
    <h2>Fontaine: La nación del agua y la justicia, inspirada en Francia.</h2>
    <h3>Arconte: Focalors, la Arconte Hydro</h3>
    <img src="pavon/Fontaine.png" alt="Fontaine" width="500px" height="300px" />
    <p>
      Fontaine posee una arquitectura moderna y elegante, con canales de agua que transportan buses
      acuáticos por toda la nación. La ciudad principal, Fontaine, es conocida por su sistema judicial,
      que recuerda a obras de teatro clásicas, con juicios públicos llenos de drama y espectáculo. Los
      edificios tienen un diseño sofisticado, con cúpulas, columnas y esculturas que recuerdan a la Francia
      del siglo XVIII. Por debajo del agua, se encuentran ruinas de civilizaciones antiguas, y también está la
      fortaleza de Merópide, el lugar donde llevan a los que son hallados culpables ante el tribunal de Fontaine.
    </p>
  </li>
  <li>
    <h2>Natlan: La nación del fuego y la guerra, inspirada en Mesoamérica.</h2>
    <h3>Arconte: Haborym, la Arconte Pyro</h3>
    <img src="pavon/Natlan.png" alt="Natlan" width="500px" height="300px" />
    <p>
      Natlan tiene una arquitectura natural, con paisajes frondosos y montañas rocosas. Se encuentran
      varios Saurios por toda la nación, creaturas que recuerdan a los dinosaurios y que conviven con las
      tribus de Natlan. No hay una ciudad principal, pero se toma la Arena Sacrofuego como el centro. Allí tienen
      lugar las competiciones de combate entre las tribus, para elegir a los guerreros que lucharán contra el Abismo.
      Más al norte se encuentra Ochkanatlan. Una parte de la nación que se encuentra abandonada y en ruinas, donde se
      pueden ver marcas similares a garras de dragón por todas partes.
    </p>
  </li>
  <li>
    <h2>Nod Krai: La nación del Kuuvahki y la luna, inspirada en el sur de Rusia.</h2>
    <h3>Arconte: Ninguno, en su lugar está Kuutar, la Diosa de la Luna Escarchada</h3>
    <img src="pavon/NodKrai.png" alt="Nod Krai" width="500px" height="300px" />
    <p>
      Nod Krai tiene una mezcla de arquitectura tradicional rusa y paisajes místicos cargados de energía lunar.
      La ciudad de Nod Krai es un centro de comercio y servicios donde la única ley es la anarquía. El Kuuvahki,
      energía lunar mística, se usa como fuente de poder y combustible, tanto para la tecnnología como para el combate.
      Hay un cañon enorme en el punto más alto de la ciudad, que dispara Kuuvahki concentrado hacia la Cacería Salvaje,
      una amenaza capaz de corromper cualquier forma de vida. La isla Hiisi, al oeste de Nod Krai, es un lugar sagrado donde los
      Descendientes Lunaecarcha veneran a Kuutar y practican rituales antiguos bajo la luz de la luna. Al norte se encuentra la
      Oficina de Diseño Experimental Kuuvahki, un lugar donde los Fatui realizan experimentos con dicha energía.
    </p>
  </li>
</ul>
<h2>
  Hay mucho por ver allá donde vayas.
</h2>
<img src="pavon/Genshin6.1.jpg" alt="Versión 6.1" width="500px" height="300px" />

