<h2>Entrega Zanon</h2>

<div class="container mt-4">
    <h3>LISTADO de POKÉMONS</h3>

    <h4>Buscador: <input type="text" placeholder="Introduce el NOMBRE de un POKÉMON" 
                         [(ngModel)]="filtroNombre" (input)="filtroPokemon()"></h4>

    <div class="row">
        @for (item of paginasPokemon; track $index) {
            <div class="col-md-3 col-sm-6 mb-4">
                <div class="card m.2 shadow-sm" style="width: 18rem;">
                    <img [src]="item.imageUrl" alt="{{ item.name }}">
                    <div class="card-body text-center">
                        <h5>{{ item.name }}</h5>
                        <button (click)="verInformacionPokemon(item)">Ver información</button>
                    </div>
                </div>
            </div>
        }
    </div>

    @if (paginasPokemon.length === 0 && filtroNombre.trim() !== '') {
        <div class="text-center mt-4">
            <p>Lo siento, no se ha podido encontrar el Pokémon que busca</p>
        </div>
    }
</div>

<mat-paginator
    [length]="length"
    [pageSize]="pageSize"
    [pageSizeOptions]="[4, 8, 12]"
    (page)="cambioPagina($event)"
    showFirstLastButtons>
</mat-paginator>