<h2>Entrega Zanon</h2>

<div class="container mt-4">
    <h3>LISTADO de LIBROS de STEPHEN KING</h3>

    <div class="row">
        @for (item of librosPagina; track $index) {
            <div class="col-md-3 col-sm-6 mb-4">
                <div class="card m.2 shadow-sm" style="width: 18rem;">

                    <!-- 
                    "[src]" muestra la portada si existe, o si es null, undefined o vacío. Sino, usa la imagen por defecto.
                    "(error)" se ejecuta si la URL apunta a una imagen inexistente, reemplazándola también por la imagen por defecto
                    -->
                    <img [src]="item.coverUrl || 'zanon/placeholder-cover.png'"
                         (error)="item.coverUrl='zanon/placeholder-cover.png'"
                         class="card-img-top" 
                         alt="{{ item.Title }}">
                    <div class="card-body text-center">
                        <h5>{{ item.Title }}</h5>
                        <button (click)="verInformacionLibro(item)">Ver información</button>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<mat-paginator
    [length]="length"
    [pageSize]="pageSize"
    [pageSizeOptions]="[4, 8, 12]"
    (page)="cambioPagina($event)"
    showFirstLastButtons>
</mat-paginator>