/* Styles for ZanonComponent */
h2 { color: #2a6f97; }

.card-img-top {
    width: 100%;
    height: 500px;
}

input {
    width: 50%;
}

button {
    background-color: blue;
    color: white;
    border: none;
    border-radius: 12px;
    padding: 10px;
}

button:hover {
    background-color: lightblue;
}