mat-dialog-content {
  background-color: yellow;
  padding: 10px;

  display: flex;
  flex-direction: column;
  max-height: 400px;
  overflow-y: auto;
  gap: 10px;
}

h2 {
  text-align: center;
  color: blue;
}

table {
  color: black;
  margin: 10px;
}

th, td {
  border: 1px solid black;
  padding: 10px;
}