<div class="container p-3">
    <div class="row">
        <div class="col">
            <h2>Información del libro</h2>

            <table>
                <tr>
                    <th>Título</th>
                    <td>{{ oLibro.Title }}</td>
                </tr>
                <tr>
                    <th>Año de publicación</th>
                    <td>{{ oLibro.Year }}</td>
                </tr>
                <tr>
                    <th>Editorial</th>
                    <td>{{ oLibro.Publisher }}</td>
                </tr>
                <tr>
                    <th>ISBN</th>
                    <td>{{ oLibro.ISBN }}</td>
                </tr>
                <tr>
                    <th>Cantidad de páginas</th>
                    <td>{{ oLibro.Pages }}</td>
                </tr>
            </table>
        </div>
    </div>
</div>