<mat-dialog-content>
    <h2>INFORMACIÓN DEL LIBRO</h2>

    <div class="detalles">
        <h3>Fecha de publicación:</h3>
        <p>{{ oLibro.publishedDate }}</p>

        <h3>Editorial:</h3>
        <p>{{ oLibro.publisher }}</p>

        <h3>Categoría:</h3>
        <p>{{ oLibro.categories }}</p>

        <h3>Cantidad de páginas:</h3>
        <p>{{ oLibro.pageCount }}</p>
    </div>
    
    <div class="descripcion">
        <h3>Descripción:</h3>
        <p>{{ oLibro.description || 'Descripción no disponible' }}</p>
    </div>
</mat-dialog-content>