<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/reyna">Entrega Reyna</a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/reyna" routerLinkActive="active">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/reyna/list" routerLinkActive="active">Productos</a>
        </li>

        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Categorías
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            @for (cat of categories; track cat) {
            <li>
              <a
                class="dropdown-item"
                [routerLink]="['/reyna/categories', cat]"
                routerLinkActive="active"
              >
                {{ cat | titlecase }}
              </a>
            </li>
            }
          </ul>
        </li>

         <li class="nav-item">
        <button class="btn btn-outline-warning ms-3" (click)="openFavorites()">Favoritos</button>
      </li>
      </ul>
    </div>
  </div>
</nav>
