.main {
  display: flex;
  gap: 20px;
}

.campeon {
  border: 1px solid black;
  padding: 10px;
  flex: 1;
}

.icono_campeon {
  width: 50px;
  height: 50px;
  border: 1px solid black;
}

.seccion_comparacion {
  background-color: lightgray;
  padding: 10px;
  flex: 1;
  text-align: center;
}

.stat_comparacion {
  margin: 5px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mayor {
  background-color: lightgreen;
  padding: 2px 5px;
}

.menor {
  background-color: lightcoral;
  padding: 2px 5px;
}

.igual {
  background-color: lightblue;
  padding: 2px 5px;
}

.roles_comunes {
  color: green;
  font-weight: bold;
}

.sin_roles_comunes {
  color: red;
}

.placeholder {
  text-align: center;
  color: gray;
  padding: 50px 0;
}