<mat-card>
  <mat-card-header>
    <mat-card-title>{{ obtenerNombreParaMostrar() }}</mat-card-title>
    <mat-card-subtitle>{{ animal().binomialName }}</mat-card-subtitle>
  </mat-card-header>
  
  @if (tieneImagen()) {
    <img 
      mat-card-image 
      [ngSrc]="animal().imageSrc" 
      [alt]="obtenerNombreParaMostrar()"
      width="300"
      height="200"
      priority
    />
  } @else {
    <div class="sin-imagen">
      <p>Sin imagen disponible</p>
    </div>
  }
  
  <mat-card-content>
    <p class="descripcion">{{ animal().shortDesc }}</p>
    
    <div class="chips-info">
      <mat-chip> {{ animal().location }}</mat-chip>
      <mat-chip> {{ animal().lastRecord }}</mat-chip>
    </div>
  </mat-card-content>
  
  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="alVerDetalles()">
      Ver más
    </button>
    <a 
      mat-button 
      [href]="animal().wikiLink" 
      target="_blank" 
      rel="noopener noreferrer"
    >
      Wikipedia
    </a>
  </mat-card-actions>
</mat-card>
