<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="">Pavon Rovensal</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div>
      <ul>
        <li>
          <a
            class="nav-link"
            [class.active]="activeRoute === '/' || activeRoute === '/home'"
            aria-current="page"
            href=""
            >Página principal</a
          >
        </li>
        <li>
          <a
            class="nav-link"
            [class.active]="activeRoute === '/pavonBosses'"
            aria-current="page"
            href=""
            >Jefes</a
          >
        </li>
        <li>
          <a
            class="nav-link"
            [class.active]="activeRoute === '/pavonCharacters'"
            aria-current="page"
            href=""
            >Personajes</a
          >
        </li>
        <li>
          <a
            class="nav-link"
            [class.active]="activeRoute === '/pavonDomains'"
            aria-current="page"
            href=""
            >Dominios</a
          >
        </li>
        <li>
          <a
            class="nav-link"
            [class.active]="activeRoute === '/pavonElements'"
            aria-current="page"
            href=""
            >Elementos</a
          >
        </li>
        <li>
          <a
            class="nav-link"
            [class.active]="activeRoute === '/pavonWeapons'"
            aria-current="page"
            href=""
            >Armas</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
